#short-url-text-input {
    border-radius: 25px;
    background-color: #272829;
    outline: none;
    border: none;
    width: 50%;
    max-width: 750px;
    height: 60px;
    padding: 10px;
    padding-left: 20px;
    margin: 30px;
    color: #FFF6E0;
    font-family: 'Jura';
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    box-sizing: border-box;
}

#copy-button {
    border-radius: 25px;
    background-color: #272829;
    outline: none;
    border: none;
    width: 65px;
    height: 60px;
    color: #FFF6E0;
    font-family: 'Jura';
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

#short-url-text-input:hover, #short-url-text-input:focus, #copy-button:hover {
    box-shadow: -2px -2px 2px 0px rgba(255, 246, 224, 0.25) inset, 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
#short-url-text-input:active, #copy-button:active {
    box-shadow: -3px -3px 3px 0px rgba(255, 246, 224, 0.25) inset, 3px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

#details-box-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.details-box-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1500px;
    margin: 20px 40px 0 40px;
}
.details-box-one p {
    font-size: 18px;
    margin: 13.5px 0 13.5px 0;
}
.details-box-left {
    font-weight: bold;
}
.warning-shadow-red {
    box-shadow: 0px 0px 20px -5px #ed4245;
}